.embla__slide_fs {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}

.embla__slide_fs :nth-child(1) {
  flex: 0 0 40%;
}
.embla__slide_fs :nth-child(2) {
  flex: 0 0 40%;
}
.embla__slide_fs :nth-child(3) {
  flex: 0 0 40%;
}
.embla__slide_fs :nth-child(4) {
  flex: 0 0 40%;
}
.embla__slide_fs :nth-child(5) {
  flex: 0 0 40%;
}
.embla__slide_fs :nth-child(6) {
  flex: 0 0 40%;
}
.embla__slide_fs :nth-child(7) {
  flex: 0 0 40%;
}
.embla__slide_fs :nth-child(8) {
  flex: 0 0 40%;
}
.embla__slide_fs :nth-child(9) {
  flex: 0 0 40%;
}
