@tailwind base;
@tailwind components;
@tailwind utilities;

/* #card {
  width: 350;
  height: 270;
  min-width: 350 !important;
  min-height: 270 !important;
} */

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__dot {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  margin-left: 12px;
  width: 14px;
  height: 14px;
}

.embla__dots {
  z-index: 1;
  position: absolute;
  left: 50%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 40px;
  height: 2rem;
  bottom: 12px;
}

.embla__dot:after {
  content: "";
  border-radius: 20px;
  width: 14px;
  height: 14px;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
  transition: all 200ms linear;
}

.embla__dot--selected:after {
  background: rgb(236, 2, 2);
  content: "";
  border: 2px solid #fff;
}

.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla-thumbs {
  --thumbs-slide-spacing: 0.8rem;
  --thumbs-slide-height: 9rem;
  margin-top: var(--thumbs-slide-spacing);
}

.embla-thumbs__viewport {
  overflow: hidden;
}

.embla-thumbs__container {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--thumbs-slide-spacing) * -1);
}

.embla-thumbs__slide {
  flex: 0 0 18% !important;
  min-width: 0;
  padding-left: var(--thumbs-slide-spacing);
  position: relative;
}

.embla-thumbs__slide__button {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  opacity: 0.2;
  transition: opacity 0.2s;
}

.embla-thumbs__slide--selected .embla-thumbs__slide__button {
  opacity: 1;
}

.embla-thumbs__slide__img {
  display: block;
  height: 4rem !important;
  width: 100%;
  object-fit: contain;
}

@media (min-width: 576px) {
  .embla-thumbs__slide {
    flex: 0 0 12%;
  }
}
